<meta name="google-site-verification" content="MT3aHsC0-1SnLsIUjoHAOb78YW0gkPkLgvSDrkhSTeQ" />

<link rel="icon" type="image/x-icon" href="/cours.univ.pdf/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/cours.univ.pdf/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/cours.univ.pdf/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/cours.univ.pdf/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/cours.univ.pdf/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/cours.univ.pdf/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/cours.univ.pdf/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/cours.univ.pdf/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/cours.univ.pdf/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/cours.univ.pdf/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/cours.univ.pdf/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/cours.univ.pdf/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/cours.univ.pdf/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/cours.univ.pdf/favicon-16x16.png">
<link rel="manifest" href="/cours.univ.pdf/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/cours.univ.pdf/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script>
  window.COURS_UNIVERSITAIRES_PRICE = {{ site.module_price | default: 1 }};
</script>

<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "xb7gvowmx9");
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G55SJ5C5L0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-G55SJ5C5L0');
</script>

